extends layouts/app

div.main.bg-dark
  div.container.p-4
    a.btn.white-text.m-2.purple(href="/login") Login
    a.btn.white-text.blue(href="/signup") SignUp
    a.btn.white-text.m-2.orange.darken-3(href="/Google") SignUp With Google
    a.btn.white-text.m-2.red(href="/logout") Log Out

block content
  audio(controls=true, src="/kids/1")